/*normal text*/
@font-face {
    font-family: Athiti;
    src: url('../im/create/font/Athiti-Regular.ttf') format('truetype');;
}

@font-face {
    font-family: Bangnampueng;
    src: url('../im/create/font/Bangnampueng.ttf') format('truetype');;
}

@font-face {
    font-family: Kanit;
    src: url('../im/create/font/Kanit-Regular.ttf') format('truetype');;
}

@font-face {
    font-family: Lobster;
    src: url('../im/create/font/Lobster-Regular.ttf') format('truetype');;
}

@font-face {
    font-family: Prompt;
    src: url('../im/create/font/Prompt-Regular.ttf') format('truetype');;
}

@font-face {
    font-family: Quark;
    src: url('../im/create/font/Quark-Light.otf') format('opentype');;
}

@font-face {
    font-family: RSU;
    src: url('../im/create/font/RSU_Regular.ttf') format('truetype');
}

@font-face {
    font-family: SanamDeklen;
    src: url('../im/create/font/SanamDeklen_chaya.ttf') format('truetype');
}

@font-face {
    font-family: "Sri Sury Wongse";
    src: url('../im/create/font/Sri Sury Wongse.otf') format('opentype');
}

@font-face {
    font-family: Supermarket;
    src: url('../im/create/font/supermarket.ttf') format('truetype');
}

@font-face {
    font-family: Superspace;
    src: url('../im/create/font/Superspace Regular ver 1.00.otf') format('opentype');
}