*, *:after, *:before { border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #999;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'promptlight';
}

a {
	color: #4f7f90;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #39545e;
}

section {
	padding: 1em;
	text-align: center;
}


/*-- demos --*/
.related {
	padding: 6em 1em;
	font-size: 120%;
}

.related > a {
	border: 1px solid #4f7f90;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a:hover {
	border-color: #39545e;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}


.grid {
    overflow: hidden;
    width: 100%;
    list-style: none;
    margin-bottom: 40px;
}

/* Styles */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	font-family: 'promptlight';
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.fa,
.ga {
    top: 0;
    left: 0;
    width: 73%;
    height: 50%;
}


.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2 {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* hover effects that I know you will love */


/*---- #39b54a ----*/


figure.effect-4 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-4:hover img {
	opacity: 0.4;
}

figure.effect-4 figcaption::before,
figure.effect-4 figcaption::after {
	position: absolute;
	top: 18px;
	right: 18px;
	bottom: 18px;
	left:	18px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-4 figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-4 figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-4 h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-4 p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-4:hover figcaption::before,
figure.effect-4:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-4:hover h2,
figure.effect-4:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/**************************/
.gbox1{
	width: 94%;
	height: 162px;
	background-color: #56b949;
	margin: 20px 10px 0px 10px;
}
.gboxtext{
	font-size: 23px;
	font-family: 'promptlight';
}
.gbox2 {
    width: 94%;
    height: 180px;
    background-color: #f3a530;
    margin: 10px 10px 0px 10px;
}
.gbox3 {
	background-color: #ee4035;
	width: 94%;
    height: 180px;
    margin: 10px 10px 0px 10px;
}
.pgt {
    position: absolute;
    margin-left: 40px;
}
.pgt3 {
    position: absolute;
    margin-left: 40px;
}
@media screen and (min-width:375px){
	figure.effect-4 figcaption::before,
	figure.effect-4 figcaption::after {
		position: absolute;
	    top: 13px;
	    right: 13px;
	    bottom: 13px;
	    left: 13px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
	.pgt {
    margin-left: 60px;
	}
	.pgt3 {
	    margin-left: 60px;
	}
}
@media screen and (min-width:768px){
	.gbox1,.gbox2 {
	    width: 55%;
	}
	.gbox3 {
	    background-color: #ee4035;
	    width: 40%;
	    height: 355px;
	    margin: -358px 10px 0px 10px;
	    float: right;
	}
		.pgt {
    margin-left: 74px;
	}
	.pgt3 {
	    margin-left: 37px;
	}
}
@media screen and (min-width:906px){
	.gbox3{
		margin: -164px 10px 0px 10px;
	}
}
@media screen and (min-width:1024px) {
	.fa,.ga {
   		 width: 86%;
	}
	.gboxtext {
    font-size: 28px;
	}
	.gbox3{
		margin: -358px 10px 0px 10px;
	}
	.pgt {
	    margin-left: 157px;
	}
	.pgt3 {
	    margin-left: 92px;
	}
}
@media screen and (min-width:1160px) {
	.gbox3{
		margin: -164px 10px 0px 10px;
	}
}