.scroll_top {
    transition: all 0.3s ease 0s;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 32px;
    background-color: #111;
    color: #fff;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    /*pointer-events: none;*/
}

.scroll_top:hover {
    background-color: #c99947;
    cursor: pointer;
}

.scroll_top .scroll_top_icon {
    width:20px;
    height:20px;
    background-image: url("../im/arrow.png");
    background-size: cover;
    margin:15px;
}

/* footer (green copyright bar) */
@media screen and (min-width: 1024px) and (orientation: landscape) {
    footer {
        height: 40px;
        line-height: 40px;
        font-size: 1em;
    }
}

footer {
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 36px;
    overflow: hidden;
    font-size: 1em;
    background-color: #56b949;
    margin-top: 30px;
}