body{
	 font-family: 'promptlight';	
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
.left{
	float: left;
}
.right{
	float: right;
}
.imgstick{
	width: auto;
    max-height: 100%;
}
.imgstick1{
	max-width: 100%;
    height: 100%;
}
.imgstick2{
	width: 100%;
    max-height: 100%;
}
.imgstick3{
	max-width: 100%;
    height: auto;
}
.menu-wapp{
    width: 100%;
    height: 100px;
    background-color: #ee4035;
}
.wappp{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.logoim{
    height: 100%;
    width: 100%;
    margin-top: -74px;
    overflow: hidden;
}
.loim{
    height: 113%;
    margin: 4px auto 0px 30px;
}
.menudis{display: none;}
.breadcrumb-wapp{
	margin-top: 6%;
    margin-left: 10px;
}
.bt1{
	font-size: 14px;
	color: rgb(156, 156, 156);
}
.bt1:hover{
	color: #000;
}
.abt1{
	color: #000;
	border-bottom: 1px solid #000;
}
.hr1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
}
.toppig{
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #30499b;
    height: 35px;
    font-size: 20px;
    text-align: center;
}
.toptext{
	line-height: 35px;
}

@media screen and (min-width:375px){
	.logoim{
		margin-left: 28px;
	}
	.loim {
	   height: 137%;
    	margin: -10px auto 0px 0px;
		background-size: 155%;
	}
}
@media screen and (min-width:768px){
	.menum{display: none;}
	.menudis{display: block;}
	.wappp{
		width: 90%;
	}
	.logoim{
		margin-top: 0px;
    	margin-left: -64px;
	}
	.menudis{
	    font-size: 1.250em;
	    margin-top: -46px;
	    margin-right: -10px;
	}
	.meundis_li{
		box-sizing: border-box;
		float: left;
		padding:0 10px;
		color: #fff;
	}
	.meundis_linone{
		border:none;
	}
	.meundis_li:hover{
		opacity: .5;
	}
	.dr{
		border-right: 2px solid #fff;
	    height: 20px;
	    float: left;
	}
	.toppig {
    	text-align: left;
    	padding-left: 10px;
	}
}
@media screen and (min-width:1024px) {
	.wappp{
		width: 70%;
	}
	.menu-wapp{
		height: 80px;
	}
	.logoim{
		width: 270px;
		margin-left: 0px;
	}
	.loim{
		height: 158%;
	    margin-top: -16px;
	    margin-left: -36px;
	}
	.menudis{
		margin-top: 40px;
	}
	.toppig {
   		height: 43px;
    	font-size: 25px;
	}
	.toptext {
    	line-height: 46px;
	}
}