.pricecon {
    width: 100%;
    height: 635px;
    background-color: #ee4035;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.controlcon {
    padding-left: 15%;
    padding-right: 15%;
}

.controlconchild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: promptlight;
    font-size: 16pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.controlconchild span {
    color: white;
    
}

.controlconchild .form-control {
    font-family: promptlight;
    width: 50%;
    /*height: 45px;*/
    font-size: 14pt;
}

.bottomtext {
    font-size: 18pt;
    font-family: promptlight;
    color:white;
}

.bottomtext2 {
    font-size: 16pt;
}

.bottomtext a {
    color: #33ccff;
}

@media screen and (max-width:1023px) {
    .bottomtext {
        font-size: 16pt;
    }
    
    .bottomtext2 {
        font-size: 14pt;
    }
}

@media screen and (max-width:767px) {
    .controlcon {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .controlconchild {
        font-size: 14pt;
    }
    
    .controlconchild .form-control {
        font-size: 12pt;
        width: 40%;
    }
    
    .bottomtext {
        font-size: 14pt;
    }
    
    .bottomtext2 {
        font-size: 12pt;
    }
}

.controlconchild.controlconcal {
    justify-content: space-around;
    margin-top: 25px;
}

.controlconchild.controlconcal span {
    color: white;
    font-size: 18pt;
}

.controlconchild.controlconcal button {
    background-color: gold;
    text-decoration: none;
    border: none;
    padding: 7px;
    font-family: promptmedium;
}

.controlconchild.controlconcal button:hover {
    cursor: pointer;
}