.bodypanel2.sub {
    margin-top: 10px;
    border: solid 2px #555;
}

.bodypanel2.sub .bodyheading {
    font-size: 24pt;
    padding:8px;
}

.bodypanel2.sub .bodybody {
    padding:20px;
}

.aboutbodypanel {
	font-family: freesia;
	font-size:20px;
	margin-left: 10px;
    margin-right: 10px;
	background-color: rgb(217,217,217);
	padding: 10px;
	overflow: hidden;
}

.bodypanel2 {
    margin-top: 0;
}

@media screen and (max-width:1000px){
    .bodyflex {
        flex-direction: column !important;
        align-items: center;
    }
}

@media screen and (max-width:768px){
    .bodypanel2.sub .bodyheading {
        font-size: 24px;
        padding:5px;
    }
}