@import url("../font/thsarabunnew.css");
@import url("../font/freesia.css");
@import "menufixed.css";à¸«

.bodypanel {
	margin-left: 10px;
    margin-right: 10px;
	overflow: hidden;
	text-align: justify;
	
}

.bodypanel p {
	line-height: 25px;
}

.bodypanel .sp {
	line-height: 10px;
}

.aboutimg {
	float: left;
	height: 300px;
	margin-right: 30px;
}

@media screen and (max-width:500px){
	.aboutimg { display: none; }
}

.bodypanel2 {
	margin-top: 40px;
	font-family: Freesia;
}

.bodyheading {
	background-color: whitesmoke;
	text-align: center;
	padding: 15px;
	width:100%;
	font-size: 28pt;
	box-sizing: border-box;
}

.bodybody {
	background-color: gainsboro;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 22pt;
	width:100%;
	box-sizing: border-box;
}

.bodypanel2 .bodyflex {
	display: flex;
}

.bodypanel2 .bodyflex.direct {
	flex-direction: row;
}

.bodypanel2 .bodyflex.reverse {
	flex-direction: row-reverse;
}

.bodytext {
	width: 100%;
	line-height: 35px;
	text-align: justify;
}

.bodypanel2 .bodyflex.direct img {
	margin-right: 30px;
}

.bodypanel2 .bodyflex.reverse img {
	margin-left: 30px;
}

@media screen and (max-width:768px){
	
	.bodytext {
		font-size: 22px;
		line-height: 25px;
	}
	
	.bodyheading {
		font-size:28px;
		padding:10px;
	}
}

@media screen and (max-width:500px){
	.bodypanel2 .bodyflex img {
		display:none;
	}
}