.bodypanel2.sub {
    margin-top: 10px;
    border: solid 2px #555;
}

.bodypanel2.sub .bodyheading {
    font-size: 24pt;
    padding:8px;
}

.bodypanel2.sub .bodybody {
    padding:20px;
}

.aboutbodypanel {
	font-family: freesia;
	font-size:18pt;
	margin-left: 10px;
    margin-right: 10px;
	background-color: rgb(217,217,217);
	padding: 10px;
	overflow: hidden;
	text-align: justify;
	
}

.aboutbodypanel img {
    width:50%;
}

.aboutbodypanel p {
    margin-bottom: 10px;
    line-height: 30px;
}

.bodypanel2 {
    margin-top: 0;
}

@media screen and (max-width:1040px){
    
}

@media screen and (max-width:1000px){
    .bodyflex {
        flex-direction: column !important;
        align-items: center;
    }
}

@media screen and (max-width:768px){
    .bodypanel2.sub .bodyheading {
        font-size: 24px;
        padding:5px;
    }
    
    .aboutbodypanel {
        font-size: 16pt;
    }
    
    .aboutbodypanel img {
        width: 60%;
    }
    
    .aboutbodypanel p {
        margin-bottom: 7px;
        line-height: 25px;
    }
}