@import url("../font/freesia.css");

.bodypanel {
	font-family: freesia;
	line-height: 35px;
	display: flex; flex-direction: row;
	font-size: 22pt;
}

.bodypanel .aboutimg {
	width: 20%;
	height: 40%;
	margin-right: 30px;
}

@media screen and (min-width:768px){
	.bodypanel {
		display: flex; flex-direction: row;
	}
	
	.bodypanel .aboutimg {
		width: 154px;
		height: 308px;
		margin-right: 30px;
	}
	
	.bodypanel.noflexrow .aboutimg {
		width: 50%;
		height: auto;
		margin-right: 0px;
	}
}

@media screen and (max-width:768px){
	.bodypanel {
		display: flex; flex-direction: column;
	}
	
	.bodypanel .aboutimg {
		width: 77px;
		height: 154px;
		margin-right: 30px;
	}
	
	.bodypanel {
		font-size: 22px;
		line-height: 25px;
	}
	
	.bodypanel .imgpos {
		text-align: center;
	}
	
	.bodypanel.noflexrow .aboutimg {
		width: 50%;
		height: auto;
		margin-right: 0px;
	}
}

.bodypanel {
	margin-left: 10px;
    margin-right: 10px;
	background-color: rgb(217,217,217);
	padding: 20px;
	overflow: hidden;
}

.toppig.next {
	margin-top: 40px;
}

.bodypanel.noflexrow {
	flex-direction: column;
}

.bodypanel.noflexrow .imgpos {
	text-align: center;
}