@media screen and (max-width:1000px){
    .bodyflex {
        flex-direction: column !important;
        align-items: center;
    }
}

.aboutbodypanel {
	font-family: freesia;
	font-size:20px;
	margin-left: 10px;
    margin-right: 10px;
	background-color: rgb(217,217,217);
	padding: 10px;
	overflow: hidden;
}