.container {
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 50px;
    
    right: 20px;
}

/* Main */

.main {
    height: 100%;
    position: relative;
    transition-property: transform;
}

.mask {
    display: table-row;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
}

header {
    background-color: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db 0%, #217dbb 100%);
    background-image: linear-gradient(to bottom, #3498db 0%, #217dbb 100%);
    padding: 100px 50px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.content {
    margin: 50px 50px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    z-index: 200;
    top: 0;
    left: -8px;
    height: 100%;
    width: 260px;
    background: #ee4035;
    border-right: 7px solid rgb(255, 159, 153);
    overflow: hidden;
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
    transition-property: transform;
    will-change: transform, -webkit-transform;
}

.sidebar, .sidebar a {
    color: #ffffff;
    font-size: 1.06em;
}

.nav {
    margin-top: 100px;
}

.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-title {
    display: block;
    border-bottom: 7px solid rgb(255, 159, 153);
    font-size: 2em;
    padding: 17px 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.nav-link {
    display: block;
    padding: 15px 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #fff;
    color: #ee4035;
}

.sidebar-separator {
    margin: 30px;
    height: 2px;
    background-color: #000;
    border-bottom: 1px solid #2b313a;
}

/* Hamburger Icon */

.hamburger {
    display: block;
    position: absolute;
    margin-left: 14px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 500;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #EE4035;
    padding: 10px 7px;
    width: 50px;
    height: 45px;
    transition-property: background-color, border-color;
    
    right: 0;
}

.bar {
   display: block;
    position: relative;
    background-color: #ee4035;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin: 0 auto;
    transition-property: transform, opacity, background-color, width;
}

.bar:first-child {
    top: 0;
}

.bar:nth-child(2) { 
    opacity: 1;
}

.bar:last-child {
    bottom: 0;
}

.hamburger:hover {
    border-color: #000;
}

.hamburger:hover .bar {
    background-color: #000;
}

.bar + .bar {
    margin-top: 5px;
}

/* Animation */

.main, .sidebar, .mask, .hamburger, .bar {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
}

/* Show Sidebar */

.show-sidebar .main {
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
}

.show-sidebar .sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.show-sidebar .mask {
    opacity: 1;
    pointer-events: auto;
}

.show-sidebar .hamburger {
    background-color: #ffffff;
    border-color: #a9a9a9;
}

.show-sidebar .bar {
    background-color: #abb4be;
}

.show-sidebar .bar:first-child {
    width: 120%;
    -webkit-transform: rotate(45deg) translate(5px, 8px);
    transform: rotate(45deg) translate(5px, 8px);
}

.show-sidebar .bar:nth-child(2) {
    opacity: 0;
}

.show-sidebar .bar:last-child {
    width: 120%;
    -webkit-transform: rotate(-45deg) translate(4px, -8px);
    transform: rotate(-45deg) translate(4px, -8px);
}
