<!doctype html>
<html>
    <head>
    	<title>สมศรีมีเสื้อ - รับผลิต สกรีน และออกแบบเสื้อ</title>
        <meta charset="utf-8">
		<meta name="keywords" content="สมศรี,สมศรีมีเสื้อ,รับผลิตเสื้อยืด,รับผลิตเสื้อ,สกรีนเสื้อ,ทำเสื้อ,เสื้อพนักงาน,เสื้อค่าย,เสื้อกิจกรรม">
		<meta name="description" content="สมศรีมีเสื้อ รับออกแบบ สกรีน และผลิตเสื้อทุกประเภทในราคาย่อมเยา สนับสนุนนักเรียนนักศึกษาโดยให้ส่วนลดพิเศษ เมื่อแสดงบัตรประจำตัวและราคาสำหรับบุคคลทั่วไปที่เหมาะสมและคู่ควรกับราคา" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="im/som-logo.ico">
		<!--fb-->
		<meta property="og:description" content="สมศรีมีเสื้อ รับออกแบบ สกรีน และผลิตเสื้อทุกประเภทในราคาย่อมเยา สนับสนุนนักเรียนนักศึกษาโดยให้ส่วนลดพิเศษ เมื่อแสดงบัตรประจำตัวและราคาสำหรับบุคคลทั่วไปที่เหมาะสมและคู่ควรกับราคา" />
		<meta property="og:title" content="สมศรีมีเสื้อ - รับผลิต สกรีน และออกแบบเสื้อ"/>
		<meta property="og:image" content="http://somsritshirt.com/im/som_sb2.jpg"/>
        
		<script src='js/jquery.min.js'></script>
		<script src='js/vue.min.js'></script>
		<script src="js/shared.js"></script>
		<link rel="stylesheet" href="css/shared.css">
		<link rel="stylesheet" href="css/new/edut.css">
		<link rel="stylesheet" href="css/new/shared.css">
		<link rel="stylesheet" href="css/new/olddriver.css">
    </head>
    <body>
		<div class="menu-wapp clearfix">
			<div class="wappp">
				<div class="menum">
					<div class="container">
					    <aside class="sidebar">
					        <nav class="nav">
					            <ul class="nav-items">
					                <li class="nav-title">เมนู</li>
					                <li>
					                	<a href="edut.html" class="nav-link">EduT-</a>
					                </li>
					                <li>
					                	<a href="shop" class="nav-link">สั่งทำเสื้อ</a>
					                </li>
					                <li>
					                	<a href="Blogs.html" class="nav-link">บล็อก</a>
					                </li>
					                <li>
					                	<a href="contact" class="nav-link">ติดต่อสมศรี</a>
					                </li>
					            </ul>
					        </nav>
					    </aside>
					    <div class="hamburger">
					        <div class="bar"></div>
					        <div class="bar"></div>
					        <div class="bar"></div>
					    </div>
						</div>
 						<script src="js/index_tgm.js"></script>
					</div>
					<!-- menum -->
				<div class="logoim left">
					<a href="index.html"><img class="loim" src="im/somlogobeta.png"></a>
				</div>
				<nav class="menudis right">
					<ul class="meundis_ul">
						<div class="dr">
							<a href="edut.html">
								<li class="meundis_li">EduT-</li>
							</a>
						</div>
						<div class="dr">
							<a href="shop">
								<li class="meundis_li">สั่งทำเสื้อ</li>
							</a>
						</div>
						<div class="dr">
							<a href="Blogs.html">
								<li class="meundis_li">บล็อก</li>
							</a>
						</div>
						<a href="contact"><li class="meundis_li meundis_linone">ติดต่อสมศรี</li></a>
					</ul>
				</nav>
				<!-- menudis -->
				
			</div>
			<!-- wappp -->
		</div>
		<!-- menu-wapp -->
    	
    	
    	<div class="wappp">
			<div class="topblur">
				<div class="breadcrumb-wapp clearfix">
					<a href="index.html">
						<span class="bt1 left">หน้าแรก</span>
					</a>
						<span class="bt1 left">&nbsp;>&nbsp;</span>
					<a href="edut.html">
						<span class="bt1 abt1 left">EduT-</span>
					</a>
				</div>
				<!-- breadcrumb-wapp -->
				<div class="hr">
					<hr class="hr1">
				</div>
				<!-- hr -->
				<div class="toppig">
					<span class="toptext">สินค้าจาก EduT- by สมศรีมีเสื้อ</span>
				</div>
			</div>
			<!-- toppig -->
			<div class="aboutbodypanel">
				EduT- (เอ็ด-ดู-ที) แบรนเสื้อยืดที่จัดทำโดยสมศรี สามารถเลือกซื้อหรือดูแนวการออกแบบได้จากหน้านี้เลยค่า
			</div>
			
			<div class="bodypanel">
		        <div id="edutmain">
		            <!--<comp v-for="item in texts" :text="item"></comp>-->
		            <div class="eduflex">
		                <!--<edut-child img="im/edut1.jpg" color="fuck" code="ad" price="199" :showimgs="['im/edut/kpa1.jpg','im/edut/kpa2.jpg','im/edut/kpa3.jpg']"></edut-child>
		                <edut-child img="im/edut2.jpg" color="duck" code="ff" price="165"></edut-child>-->
		                <edut-child v-for="(item,index) in data" :color="item.color" :code="item.code" :price="item.price" :showcount="item.showcount" :infpos="index%2==0?'right':'left'"></edut-child>
		            </div>
		        </div>
	        </div>
	        
        </div>

		<script src="https://somsritshirt.tk/js/edutinput.php"></script>
        
		<script>
			var curractive;
		
			function blurall() {
				$(".menu-wapp").css("filter","blur(5px)");
				$(".topblur").css("filter","blur(5px)");
				$(".educon").css("filter","blur(5px)");
				$(".aboutbodypanel").css("filter","blur(5px)");
				
				/*$(".menu-wapp").css("-webkit-filter","blur(5px)");
				$(".topblur").css("-webkit-filter","blur(5px)");
				$(".educon").css("-webkit-filter","blur(5px)");
				$(".aboutbodypanel").css("-webkit-filter","blur(5px)");*/
			}
			
			function unblurall() {
				$(".menu-wapp").css("filter","");
				$(".topblur").css("filter","");
				$(".educon").css("filter","");
				$(".aboutbodypanel").css("filter","");
				
				/*$(".menu-wapp").css("-webkit-filter","");
				$(".topblur").css("-webkit-filter","");
				$(".educon").css("-webkit-filter","");
				$(".aboutbodypanel").css("-webkit-filter","");*/
			}
		
			function untoggledetail($ele) {
				unblurall();
				var $sidemodal = $ele.find(".edumodal.active");
				$ele.find(".eduimg").css("filter","");
				//$ele.find(".eduimg").css("-webkit-filter","");
				$ele.find(".edumodal").css("opacity","0");
				$ele.find(".edumodal").css("display","none");
				$ele.removeClass("showing");
				if ($ele.hasClass("infright")) {
					var $side = $ele.next();
				} else {
					var $side = $ele.prev();
				}
				$sidemodal.appendTo($side).removeClass("active");
				$side.find(".eduimg").css("filter","");
				//$side.find(".eduimg").css("-webkit-filter","");
				$side.find(".edumodal").css("opacity","0");
				$side.find(".edumodal").css("display","none");
				$side.removeClass("showing");
				curractive=null;
			}
		
			function toggledetail($ele) {
				curractive = $ele;
			
				blurall();
				var $currmodal = $ele.find(".edumodal");
				/*if ($(window).width()>=1000) {
					$ele.css("filter","");
				}*/
				
				if ($ele.hasClass("infright")) {
					var $side = $ele.next();
				} else {
					var $side = $ele.prev();
				}
				
				var $sidemodal = $side.find(".edumodal");
				
				if ($(window).width()>=1000) {
					$currmodal.appendTo($side).addClass("active");
					$ele.css("filter","");
					$side.css("filter","");
					$side.find(".eduimg").css("filter","blur(5px)");
					//$side.find(".eduimg").css("-webkit-filter","blur(5px)");
					$side.find(".edumodal.active").css("display","block");
					$side.find(".edumodal.active").css("opacity","0");
					$side.addClass("showing");
					setTimeout(function(){$side.find(".edumodal.active").css("opacity","1");},10);
					//console.log("aaa");
				} else {
					$ele.css("filter","");
					$ele.find(".eduimg").css("filter","blur(5px)");
					//$side.find(".eduimg").css("-webkit-filter","blur(5px)");
					$ele.find(".edumodal").css("display","block");
					$ele.find(".edumodal").css("opacity","0");
					$ele.addClass("showing");
					setTimeout(function(){$ele.find(".edumodal").css("opacity","1");},10);
				}
			}
		
			$(".eduimg").click(function() {
				//if ($(this).hasClass("showing")) return;
				$(".educon").each(function() {
					untoggledetail($(this));
				});
				toggledetail($(this).parent());
			});
			
			$(".close").click(function(){
				$(".educon").each(function() {
					untoggledetail($(this));
				});
			});
			
			$(window).resize(function() {
				curractive.click();
			});
			
			$(window).on("load",function() {
				$(".edupresent img").each(function() {
					$(this).attr("src",$(this).data("src"));
				});
			});
			
			//$(".edumodal").css("opacity","0");
			
			/*//build side
			$(".educon").each(function() {
				$ele = $(this);
				var $currmodal = $ele.find(".edumodal");
				
				if ($ele.hasClass("infright")) {
					var $side = $ele.next();
				} else {
					var $side = $ele.prev();
				}
				
				var $sidemodal = $side.find(".edumodal");
				$currmodal.appendTo($side).addClass("side");
			});*/
		</script>
		
		<div class="scroll_top"><div class="scroll_top_icon"></div></div>
    </body>
</html>