<!DOCTYPE html>
<html>
	<head>
		<title>สมศรีมีเสื้อ - รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ</title>
		<meta charset="utf-8">
		<meta name="keywords" content="สมศรี,สมศรีมีเสื้อ,รับผลิตเสื้อยืด,รับผลิตเสื้อ,สกรีนเสื้อ,ทาเสื้อ,เสื้อพนักงาน,เสื้อค่าย,เสื้ อกิจกรรม,เสื้อโปโล,รับทาเสื้อโปโล,รับผลิตเสื้ อโปโล,ผลิตเสื้อโปโล,ออกแบบเสื้อโปโล,โรงงานเสื้ อโปโล,ผลิตเสื้อยืด,ออกแบบเสื้อยืด,โรงงานเสื้อยืด,โรงงานสกรีนเสื้อ">
		<meta name="description" content="รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ ราคาย่อมเยา ไม่แพง พร้อมรับประกันคุณภาพและความพึงพอใจ" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="im/som-logo.ico">
		<!--fb-->
		<meta property="og:description" content="สมศรีมีเสื้อ รับออกแบบ สกรีน และผลิตเสื้อทุกประเภทในราคาย่อมเยา สนับสนุนนักเรียนนักศึกษาโดยให้ส่วนลดพิเศษ เมื่อแสดงบัตรประจำตัวและราคาสำหรับบุคคลทั่วไปที่เหมาะสมและคู่ควรกับราคา" />
		<meta property="og:title" content="สมศรีมีเสื้อ - รับผลิต สกรีน และออกแบบเสื้อ"/>
		<meta property="og:image" content="http://somsritshirt.com/im/som_sb2.jpg"/>
		
		<!-- external library (jquery, vue, bootstrap and ...) -->
		<script src='js/jquery.min.js'></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.20/fabric.min.js"></script>
		
		<!-- css -->
		<link rel="stylesheet" href="css/normalize.min.css">
    	<link rel="stylesheet" href="css/style_tgm.css">
		<!-- togglem -->
		<!-- me -->
		<meta name="viewport" type="image/x-icon" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style_shop1.css">
		<link rel="stylesheet" type="text/css" href="css/style_shop3.css">
		<link rel="stylesheet" type="text/css" href="css/font_shop3.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/Prompt.css">
		<link rel="stylesheet" type="text/css" href="css/menufixed.css">
		<script src="js/shared.js"></script>
		<link rel="stylesheet" href="css/shared.css">
		

	</head>
	<body>
		<div id="vue-wrap-menu"><topmenu></topmenu></div> <script src="component/topmenu.js"></script>
		
		<div id="vue-wrap">
			<div class="wappp">
				<div class="breadcrumb-wapp clearfix">
					<a href="index.html">
						<span class="bt1 left">หน้าแรก</span>
					</a>
						<span class="bt1 left">&nbsp;>&nbsp;</span>
					<a href="shop.html">
						<span class="bt1 abt1 left">สั่งทำเสื้อ</span>
					</a>
					<!--	<span class="bt1 left">&nbsp;>&nbsp;</span>
					<a href="shop3.html">
						<span class="bt1 abt1 left">สมศรี Create</span>
					</a>-->
				</div>
				<!-- breadcrumb-wapp -->
				<div class="hr">
					<hr class="hr1">
				</div>
				<!-- hr -->
				<div class="panel">
					<div class="panelhead">
						สมศรี Create
					</div>
					<div class="panelbody">
						<div id="control-wrap">
							
							<ul class="bootstrap nav nav-tabs" id="paneltab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active normal-a" id="main-tab-button" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">ปรับแต่งเสื้อผ้า</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link normal-a" id="img-tab-button" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">เพิ่มรูปภาพ</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link normal-a" id="text-tab-button" data-toggle="tab" href="#" role="tab" aria-controls="messages" aria-selected="false">เพิ่มข้อความ</a>
							  </li>
							</ul>
							
							<div id="main-tab">
								▶ <span style="padding-left:30px">เลือกเนื้อผ้า </span><br/>
								<div class="selectdiv">
									<div class="selectstyle">
										<select id="texture">
											<!--<option>กรุณาเลือกเนื้อผ้า</option>-->
											<option>Cotton</option>
											<option>TC</option>
											<option>TK</option>
										</select>
									</div>
								</div>
								<!--▶ <span style="padding-left:30px">เลือกแบบเสื้อ</span> <br/>
								<div class="selectdiv">
									<div class="selectstyle">
										<select>
											<option>กรุณาเลือกแบบเสื้อ</option>
											<option>dd</option>
											<option>ssa</option>
											<option>dff</option>
										</select>
									</div>
								</div>-->
								▶ <span style="padding-left:30px">เลือกสีเสื้อ</span> <br/>
								<div class="colordiv">
									<div v-for="i in 55" class="colorcircle" :style="{'background-image':'url(\'im/create/Asset ('+(3*i)+').jpg\')'}" v-on:click="updateshirt(i);"></div>
								</div>
							</div>
							
							<div id="img-tab">
								<span id="img-tab-create">
									▶ <span style="padding-left:30px">เพิ่มรูปภาพ</span> <br/>
									<input id="img-tab-input" type="file" class="form-control" onchange="setimginputsrc(event);">
									<!--<button id="img-tab-submit" type="button" class="btn btn-primary" onclick="addimage(event);">เพิ่มรูปภาพ</button>-->
								</span>
								<span id="img-tab-edit" style="display: none;">
									▶ <span style="padding-left:30px">แก้ไขรูปภาพ</span> <br/>
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="sendToBack(event);">นำไปไว้ข้างหลังสุด</button>
										<button type="button" class="btn btn-primary" onclick="sendBackward(event);">เลื่อนไปข้างหลัง</button>
									</div>
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="sendToFront(event);">นำไปไว้ข้างหน้าสุด</button>
										<button type="button" class="btn btn-primary" onclick="sendForward(event);">เลื่อนไปข้างหน้า</button>
									</div>
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="flipHorizontal(event);">พลิกแนวนอน</button>
										<button type="button" class="btn btn-primary" onclick="flipVertical(event);">พลิกแนวตั้ง</button>
									</div>
								</span>
							</div>
							
							<div id="text-tab">
								▶ <span id="text-tab-textlabel" style="padding-left:30px">ข้อความ</span> <br/>
								<textarea onkeyup="updatetext()" id="text-tab-input" class="form-control"></textarea>
								
								<div style="margin-bottom:15px;">
									▶ <span style="padding-left:30px; margin-right: 15px">สี</span>
									<input onchange="updatetext()" type="color" id="text-tab-color" class="form-control">
									<br>
								</div>
								
								▶ <span style="padding-left:30px; margin-right: 15px">Font</span> <br>
								<select id="text-tab-font" class="custom-select" v-model="selectedfont" :style="{'font-family':selectedfont}" onchange="updatetext()">
									<option v-for="f in fontfamily" :value="f" :style="{'font-family':f}">{{ f }}</option>
								</select>
								<br>
								
								<button id="text-tab-submit" type="button" class="btn btn-primary" onclick="addtext();">เพิ่มข้อความ</button>
								
								<span id="text-tab-edit" style="display: none;">
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="sendToBack(event);">นำไปไว้ข้างหลังสุด</button>
										<button type="button" class="btn btn-primary" onclick="sendBackward(event);">เลื่อนไปข้างหลัง</button>
									</div>
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="sendToFront(event);">นำไปไว้ข้างหน้าสุด</button>
										<button type="button" class="btn btn-primary" onclick="sendForward(event);">เลื่อนไปข้างหน้า</button>
									</div>
									<div class="controlrow">
										<button type="button" class="btn btn-primary" onclick="flipHorizontal(event);">พลิกแนวนอน</button>
										<button type="button" class="btn btn-primary" onclick="flipVertical(event);">พลิกแนวตั้ง</button>
									</div>
								</span>
							</div>
						</div>
						<div id="canvas-wrap">
							<ul class="bootstrap nav nav-tabs" id="canvastab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active normal-a" id="canvas-front-button" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">ด้านหน้า</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link normal-a" id="canvas-back-button" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">ด้านหลัง</a>
							  </li>
							</ul>
							<canvas id="frontcanvas"></canvas>
							<canvas id="backcanvas"></canvas>
							<button id="text-tab-submit" type="button" class="btn btn-primary" onclick="doexport();">Save</button>
						</div>
					</div>
				</div>
			</div>
			
			<canvas id="exportcanvas"></canvas>
			
			<!-- font preload -->
			<span v-for="f in fontfamily" :style="{'font-family':f}"></span>
			
		</div>
		

		
		<script src="component/img_lazy.js"></script>
		
		<script>
			//font control section (need to register to vue component)
				var fontfamily = ['promptlight','Athiti','Bangnampueng','Kanit','Lobster','Prompt','Quark','RSU','SanamDeklen','Sri Sury Wongse','Supermarket','Superspace'];
				
			//end font control section
		
		    new Vue({
                el: '#vue-wrap',
                data: {
                	fontfamily: fontfamily,
                	selectedfont: 'promptlight'
                }
            });
		</script>
		
		<script>
			var fcanvas = new fabric.Canvas('frontcanvas', { preserveObjectStacking: true }); //preserveObjectStacking disable go to top when selected
			var bcanvas = new fabric.Canvas('backcanvas', { preserveObjectStacking: true });
			var canvas = fcanvas;
			var currid = 1;
			var currcontrol = 0;
			var canvastype = 0; //0:front 1:back
			var selectedval;
			
			function resizecanvas() {
				fcanvas.setWidth($("#canvas-wrap").width());
				fcanvas.setHeight($("#canvas-wrap").width()*592/511);
				fcanvas.selection = false;
				fcanvas.calcOffset();
				
				bcanvas.setWidth($("#canvas-wrap").width());
				bcanvas.setHeight($("#canvas-wrap").width()*592/511);
				bcanvas.selection = false;
				bcanvas.calcOffset();
				
				$(".fabricimg").width(fcanvas.getWidth());
				$(".fabricimg").height(fcanvas.getHeight());
			}
			
			resizecanvas();
			$(window).resize(resizecanvas);
			
			//initialize background (shirt img)
			var fshirtobj,bshirtobj;
			
			$(window).on("load",function() {
				var fshirtimg = new Image(); fshirtimg.src='im/create/Asset ('+1+').jpg';
				var bshirtimg = new Image(); bshirtimg.src='im/create/Asset ('+2+').jpg';
				fshirtobj = new fabric.Image(fshirtimg);
				bshirtobj = new fabric.Image(bshirtimg);
				
				fshirtimg.onload = function() {
					fshirtobj.set({ left: 10, top: 10 ,width:fcanvas.getWidth()-20,height:fcanvas.getHeight()-20});
					fshirtobj.selectable = false;
					fcanvas.add(fshirtobj);
				};
				
				bshirtimg.onload = function() {
					bshirtobj.set({ left: 10, top: 10 ,width:bcanvas.getWidth()-20,height:bcanvas.getHeight()-20});
					bshirtobj.selectable = false;
					bcanvas.add(bshirtobj);
				};
			});
			//end initialize
			
			function updateshirt(id) {
				currid = id;
				
				var fshirtimg = new Image(); fshirtimg.src='im/create/Asset ('+(3*id-2)+').jpg';
				var bshirtimg = new Image(); bshirtimg.src='im/create/Asset ('+(3*id-1)+').jpg';
				fshirtobj.setElement(fshirtimg);
				bshirtobj.setElement(bshirtimg);
				
				
				fshirtimg.onload = function() {
					fshirtobj.set({ left: 10, top: 10 ,width:fcanvas.getWidth()-20,height:fcanvas.getHeight()-20});
					fshirtobj.selectable = false;
					fcanvas.renderAll();
				};
				
				bshirtimg.onload = function() {
					bshirtobj.set({ left: 10, top: 10 ,width:bcanvas.getWidth()-20,height:bcanvas.getHeight()-20});
					bshirtobj.selectable = false;
					bcanvas.renderAll();
				};
			}
			
			//updateshirt(1);
			
			//start text section
				function addtext() {
					var text = $("#text-tab-input").val();
					var color = $("#text-tab-color").val();
					var font = $('#text-tab-font').find(":selected").val();
					
					if (!canvas.getActiveObject()) {
						canvas.add(new fabric.Text(text, {
							left: 200,
							top: 200,
							fontFamily: font,
							fill: color
						}));
						
						clearselection();
					} else {
						
					}
				}
				
				function updatetext() {
					if (selectedobj) {
						//console.log("aaa");
						selectedobj.setText($("#text-tab-input").val());
						selectedobj.setColor($("#text-tab-color").val());
						selectedobj.setFontFamily($("#text-tab-font").val());
						canvas.renderAll();
					}
				}
			//end text section
			
			//start image section
				var imginputsrc = "";
				
				function setimginputsrc(e) {
					var reader = new FileReader();
					reader.readAsDataURL(e.target.files[0]);
				    reader.onload = function(event){
				    	imginputsrc = event.target.result;
				    	addimage();
				    	$("#img-tab-input").val("");
				    };
				}
				
				function addimage() {
					if (!imginputsrc || imginputsrc=="") return;
			        var imgobj = fabric.Image.fromURL(imginputsrc,function(img) {
			        	if (img.width>200) {
				        	var resizefactor = img.width/200; //width = 100 , height aspect ratio
				        	img.width /= resizefactor;
				        	img.height /= resizefactor;
			        	}
			        	img.left = 150;
			        	img.top = 150;
			        	canvas.add(img);
			        });
				}
			//end image section
			
			//text and img section
				function repairshirtobj() {
					if (canvastype==0) {
						fshirtobj.sendToBack();
					} else {
						bshirtobj.sendToBack();
					}
					canvas.renderAll();
				}
				
				function sendToBack() {
					selectedobj.sendToBack();
					repairshirtobj(); //already run renderAll in this function
					//hardrenderAll();
				}
				
				function sendToFront() {
					selectedobj.bringToFront();
					repairshirtobj(); //already run renderAll in this function
					//hardrenderAll();
				}
				
				function sendBackward() {
					selectedobj.sendBackwards();
					repairshirtobj(); //already run renderAll in this function
				}
				
				function sendForward() {
					selectedobj.bringForward();
					repairshirtobj(); //already run renderAll in this function
				}
				
				function flipHorizontal() {
					selectedobj.flipX = !selectedobj.flipX;
					canvas.renderAll();
				}
				
				function flipVertical() {
					selectedobj.flipY = !selectedobj.flipY;
					canvas.renderAll();
				}
			//end text and img section
			
			//start selection section
				function event_selected() {
					selectedobj = canvas.getActiveObject();
					$("#paneltab").find("a").removeClass("active");
					
					//console.log(selectedobj);
					if (selectedobj.type=="text") {
						$("#text-tab-textlabel").html("แก้ไขข้อความ");
						$("#text-tab-submit").hide();
						$("#text-tab-input").val(selectedobj.text);
						$("#text-tab-color").val(selectedobj.fill);
						$("#text-tab-font").val(selectedobj.fontFamily);
						$("#text-tab-edit").show();
					} else if (selectedobj.type=="image") {
						$("#img-tab-create").hide();
						$("#img-tab-edit").show();
					}
				}
				
				fcanvas.on('object:selected', event_selected);
				bcanvas.on('object:selected', event_selected);
				
				fcanvas.on('selection:cleared',function() { clearselection(); });
				bcanvas.on('selection:cleared',function() { clearselection(); });
			//end selection section
			
			//start export section
				var ecanvas = new fabric.Canvas("exportcanvas");
				ecanvas.setWidth(fcanvas.getWidth()*4);
				ecanvas.setHeight(fcanvas.getHeight()*2+80);
				$("#exportcanvas").parent().hide();
				
				function downloadURI(uri, name) {
					function dataURIToBlob(dataURI) {
					  var binStr = atob(dataURI.split(',')[1]),
					    len = binStr.length,
					    arr = new Uint8Array(len);
					
					  for (var i = 0; i < len; i++) {
					    arr[i] = binStr.charCodeAt(i);
					  }
					
					  return new Blob([arr]);
					}
					
					var link = document.createElement("a");
					link.download = name;
					link.href = URL.createObjectURL(dataURIToBlob(uri));
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
					//delete link;
				}
				
				function doexport() {
					
					ecanvas.clear();
					
					function zoom(c,lv) {
						var factor = lv/c.getZoom();
						c.setZoom(lv);
						c.setWidth(c.getWidth()*factor);
						c.setHeight(c.getHeight()*factor);
					}
					
					zoom(fcanvas,2);
					zoom(bcanvas,2);
					
					var fok = false;
					var bok = false;
					var textok = false;
					
					fabric.Image.fromURL(fcanvas.toDataURL(),function(img) {
						img.set({left:0,top:0});
						img.selectable = false;
						ecanvas.add(img);
						img.sendToBack();
						fok = true;
					});
					
					fabric.Image.fromURL(bcanvas.toDataURL(),function(img) {
						img.set({left:fcanvas.getWidth(),top:0});
						img.selectable = false;
						ecanvas.add(img);
						img.sendToBack();
						bok = true;
					});
					
					function hotfix_colorcode(code) {
						switch (code) {
							case 01 : return 01; break;
							case 02 : return 02; break;
							case 03 : return 03; break;
							case 04 : return 04; break;
							case 05 : return 33; break; 
							case 06 : return 34; break;
							case 07 : return 35; break;
							case 08 : return 36; break;
							case 09 : return 05; break;
							case 10 : return 06; break;
							case 11 : return 07; break;
							case 12 : return 08; break; 
							case 13 : return 37; break;
							case 14 : return 38; break; 
							case 15 : return 39; break;
							case 16 : return 40; break;
							case 17 : return 09; break;
							case 18 : return 10; break; 
							case 19 : return 11; break;
							case 20 : return 12; break;
							case 21 : return 41; break;
							case 22 : return 42; break;
							case 23 : return 43; break;
							case 24 : return 44; break;
							case 25 : return 13; break;
							case 26 : return 14; break;
							case 27 : return 15; break;
							case 28 : return 16; break;
							case 29 : return 45; break; 
							case 30 : return 46; break;
							case 31 : return 47; break;
							case 32 : return 48; break;
							case 33 : return 17; break; 
							case 34 : return 18; break;
							case 35 : return 09; break; 
							case 36 : return 20; break;
							case 37 : return 49; break;
							case 38 : return 50; break;
							case 39 : return 51; break; 
							case 40 : return 52; break;
							case 41 : return 21; break;
							case 42 : return 22; break;
							case 43 : return 23; break; 
							case 44 : return 24; break;
							case 45 : return 53; break;
							case 46 : return 54; break;
							case 47 : return 55; break;
							case 48 : return 25; break; 
							case 49 : return 23; break; 
							case 50 : return 27; break; 
							case 51 : return 28; break; 
							case 52 : return 29; break;
							case 53 : return 30; break;
							case 54 : return 31; break;
							case 55 : return 32; break;
						}
					}
					
					ecanvas.add(new fabric.Text("Color code : "+hotfix_colorcode(currid)+" , เนื้อผ้า : "+$("#texture").val(), {
						left: 20,
						top: fcanvas.getHeight()+10,
						fontFamily: 'promptlight',
						fill: 'red'
					}));
					textok = true;
					
					var interval = setInterval(function() {
						if (fok && bok && textok) {
							setTimeout(function() {
								downloadURI(ecanvas.toDataURL(),"somsritshirt.png");
								zoom(fcanvas,1);
								zoom(bcanvas,1);
								clearInterval(interval);
								console.log("download run");
							},1);
						}
					},100);
				}
			//end export section
			
			$(window).keydown(function(e) {    
			    switch (e.keyCode) {
			        case 46: // delete
			         var obj = canvas.getActiveObject();
			         canvas.remove(obj);
			         canvas.renderAll();
			         return false;
			    }
			    return; //using "return" other attached events will execute
			});
			
			function clearselection() {
				selectedobj = null;
				canvas.deactivateAll().renderAll();
				$("#text-tab-submit").show();
				$("#text-tab-textlabel").html("ข้อความ");
				$("#text-tab-input").val("");
				//$("#text-tab-color").val("#000000");
				$("#text-tab-edit").hide();
				
				$("#img-tab-create").show();
				$("#img-tab-edit").hide();
				
				switchcontrol(currcontrol,true);
			}
			
			//tab control system
				function switchcanvas(id) {
					clearselection();
					canvastype = id;
					
					if (id==0) {
						//front
						$("#backcanvas").parent().hide();
						$("#frontcanvas").parent().show();
						$("#canvas-back-button").removeClass("active");
						$("#canvas-front-button").addClass("active");
						canvas = fcanvas;
					} else {
						//back
						$("#backcanvas").parent().show();
						$("#frontcanvas").parent().hide();
						$("#canvas-front-button").removeClass("active");
						$("#canvas-back-button").addClass("active");
						canvas = bcanvas;
					}
					resizecanvas();
				}
				
				switchcanvas(0);
				
				$("#canvas-front-button").click(function(e) {
					switchcanvas(0); e.preventDefault(); return false;
				});
				
				$("#canvas-back-button").click(function(e) {
					switchcanvas(1); e.preventDefault(); return false;
				});
				
				function switchcontrol(id,notcls) {
					if(!notcls) clearselection();
					
					$("#paneltab").find("a").removeClass("active");
					if (id==0) {
						$("#main-tab").show();
						$("#img-tab").hide();
						$("#text-tab").hide();
						$("#main-tab-button").addClass("active");
					} else if (id==1) {
						$("#main-tab").hide();
						$("#img-tab").show();
						$("#text-tab").hide();
						$("#img-tab-button").addClass("active");
					} else if (id==2) {
						$("#main-tab").hide();
						$("#img-tab").hide();
						$("#text-tab").show();
						$("#text-tab-button").addClass("active");
					}
					
					currcontrol = id;
				}
				
				switchcontrol(0);
				
				$("#main-tab-button").click(function(e) {
					switchcontrol(0); e.preventDefault(); return false;
				});
				
				$("#img-tab-button").click(function(e) {
					switchcontrol(1); e.preventDefault(); return false;
				});
				
				$("#text-tab-button").click(function(e) {
					switchcontrol(2); e.preventDefault(); return false;
				});
			//end tab control system
		</script>
		
		<script src="https://www.trustmarkthai.com/callbackData/initialize.js?t=b5cb10-32-5-30bf4b08f846172a35a5ff39a433191e01d2f99" id="dbd-init"></script><div id="Certificate-banners" style="text-align:center;"></div>
		
		<footer>
			Copyright © 2017 Somsri T-shirt All Right Reserved.
		</footer>
		
		<div class="scroll_top"><div class="scroll_top_icon"></div></div>
		
	</body>
</html>