@font-face {
    font-family: 'promptlight';
    src: url(prompt-light_0-webfont.eot), url(prompt-light_0-webfont.woff), url(prompt-light_0-webfont.woff2);
    font-style: normal;
}

@font-face {
    font-family: 'promptlight';
    src: url(prompt-lightitalic_0-webfont.eot), url(prompt-lightitalic_0-webfont.woff), url(prompt-lightitalic_0-webfont.woff2);
    font-style: italic;
}

@font-face {
    font-family: 'promptmedium';
    src: url(prompt-medium_0-webfont.eot), url(prompt-medium_0-webfont.woff), url(prompt-medium_0-webfont.woff2);
    font-style: normal;
}

@font-face {
    font-family: 'promptmedium';
    src: url(prompt-mediumitalic_0-webfont.eot), url(prompt-mediumitalic_0-webfont.woff), url(prompt-mediumitalic_0-webfont.woff2);
    font-style: italic;
}